.form-group__error-message {
  display: inline-block;
  opacity: 0;

  & :hover {
    opacity: 1;
  }

  &-visible {
    margin: 0.25em 0 0;
    color: var(--color-error);
    transition: 0.5s;
    opacity: 1;
  }
}

.form-group__input {    

  &:focus {
    outline: 0;
  }
}
.form-group {
  &:last-child {
    margin: 10px;
  }
}
