.form-group__error-message {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  transition: all 1s ease-out;

  &-visible {
    margin: 0.25em 0 0;
    color: var(--color-error);
    height: 100%;
    width: 100%;
  }
}

.form-group__input {
  &-error {
    background-color: var(--color-error);
  }

  &:focus {
    outline: 0;
  }
}
.form-group {
  &:last-child {
    margin: 10px;
  }
}
