@import url('../style/_colors.scss');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(OpenSans), url('../static/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-display: fallback;
}

@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: 800;
  src: local(Baloo), url('../static/fonts/Baloo/Baloo-Regular.ttf') format('truetype');
  font-display: fallback;
}
