.login-form__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--shadow-header-form);
  max-width: 500px;
  width: 96%;
}

.login-form__header {
  width: 100%;
  text-align: center;
  background-image: var(--images-dogge-background);
  background-size: cover;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.login-form {
  padding: 2%;
  margin-top: 10%;
}

.login-form__header-title {
  padding-top: 15%;
  font-weight: 800;
  font-size: 40px;
  line-height: 63px;
}

.login-form__body {
  display: flex;
  flex-direction: column;
  font-family: Open Sans, sans-serif;
  width: 50%;
  margin-top: 10%;
}

.login-form__input {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;

  & > input {
    font-family: Open Sans, sans-serif;
    border-radius: 5px;
    border: 1px solid var(--grey-light);
    background-color: var(--grey-light);
    padding: 15px 0 15px 15px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: var(--color-grey);
    }
  }
}

.login-form__input-device {
  margin: 0;
  flex-direction: row;
  flex-flow: row-reverse;
  justify-content: flex-end;

  & > input {
    accent-color: var(--color-accent);
  }
}

.login-form__sign-in-button {
  margin-top: 10px;
  color: var(--color-white);
  border-radius: 10px;
  border: 0;
  padding: 0.5em;
  background-color: var(--color-accent);
}

.login-form__new-account {
  text-align: center;
}

.login-form__create-new-accout {
  text-align: center;
  text-decoration: none;
  color: var(--color-accent);
  margin: 20% 0 5%;
  font-size: 16px;
}
