.login-form__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--grey-light);
  max-width: 375px;
  width: 96%;
}

.login-form__header {
  width: 100%;
  text-align: center;
  background-color: yellow;
}

.login-form {
  padding: 2%;
  margin-top: 150px;
}

.login-form__body {
  display: flex;
  flex-direction: column;
}

.login-form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form__input-device {
  margin: 0;
  flex-direction: row;
  flex-flow: row-reverse;
  justify-content: flex-end;
}

.login-form__new-account {
  text-align: center;
}
